# .env.example — copia esto como .env y completa los valores
GPS_SERVICE_ENDPOINT_UYU=
GPS_SERVICE_USERNAME_UYU=
GPS_SERVICE_PASSWORD_UYU=

GPS_SERVICE_ENDPOINT_ARG=
GPS_SERVICE_USERNAME_ARG=
GPS_SERVICE_PASSWORD_ARG=

XWEATHER_CLIENT_ID=
XWEATHER_CLIENT_SECRET=
XWEATHER_RADIUS=15km
XWEATHER_TYPE_FILTER=cg
XWEATHER_LIMIT=100
XWEATHER_LAST_TIME=-5minutes

TOKEN_SLACK=
CHANNEL_SLACK=
USERS_SLACK=